  {{> head}}
    {{> navbar }}
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h1>Capitan América</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis debitis aliquid iste, deserunt pariatur, beatae nobis tenetur, nostrum itaque cumque culpa iure natus fugiat distinctio totam cum praesentium voluptates delectus?</p>
        </div>
        <div class="col-4">
          <img src="assets/images/capitan-america.jpg" class="img-thumbnail" />
        </div>
      </div>
    </div>
  {{> footer}}